# Machine Learning Model to Predict MPG!

## Load the data

In [14]:
# import the pandas module for flexible visualization and organization
import pandas as pd

# Highlight the current path to the .xlsx file in the file explorer (Excel Spreadsheet in XML format)
path = r'c:\Users\leone\OneDrive\Desktop\Vito\Work\Excel\Practice\Kaggle\Car Information Dataset\Automobile.xlsx'

# Index of the Data Spreadsheet
data_table: int = 8

# Create a DataFrame
df = pd.read_excel(path, sheet_name=data_table, engine='openpyxl')

In [15]:
# Remove the first field and the Power-to-Weight from the DataFrame
df.drop('Unnamed: 0', axis=1, inplace=True)
df.drop('Power-to-Weight', axis=1, inplace=True)

In [17]:
df

,name,cylinders,mpg,weight,displacement,horsepower,acceleration,model_year,origin
0,bmw 2002,4,26.0,2234,121.0,113.0,12.5,70,europe
1,saab 99e,4,25.0,2375,104.0,95.0,17.5,70,europe
2,audi 100 ls,4,24.0,2430,107.0,90.0,14.5,70,europe
3,peugeot 504,4,25.0,2672,110.0,87.0,17.5,70,europe
4,volkswagen 1131 deluxe sedan,4,26.0,1835,97.0,46.0,20.5,70,europe
...,...,...,...,...,...,...,...,...,...
393,plymouth horizon miser,4,38.0,2125,105.0,63.0,14.7,82,usa
394,amc concord dl,4,23.0,3035,151.0,NaN,20.5,82,usa
395,ford granada l,6,22.0,2835,232.0,112.0,14.7,82,usa
396,buick century limited,6,25.0,2945,181.0,110.0,16.4,82,usa
397,oldsmobile cutlass ciera (diesel),6,38.0,3015,262.0,85.0,17.0,82,usa

## Prepare the Data

Obtain the `mpg` by assigning distinct variables where the `y` will store only the **mpg** and `x` keeps the entire DataFrame, but excluding the **mpg** column from it.

In [ ]:
# Store the mpg field in the y variable
y = df['mpg']
y

0      26.0
1      25.0
2      24.0
3      25.0
4      26.0
       ...
393    38.0
394    23.0
395    22.0
396    25.0
397    38.0
Name: mpg, Length: 398, dtype: float64

In [19]:
# Instantiate a reference to the df, but without the mpg column in it
x = df.drop('mpg', axis=1)
x

,name,cylinders,weight,displacement,horsepower,acceleration,model_year,origin
0,bmw 2002,4,2234,121.0,113.0,12.5,70,europe
1,saab 99e,4,2375,104.0,95.0,17.5,70,europe
2,audi 100 ls,4,2430,107.0,90.0,14.5,70,europe
3,peugeot 504,4,2672,110.0,87.0,17.5,70,europe
4,volkswagen 1131 deluxe sedan,4,1835,97.0,46.0,20.5,70,europe
...,...,...,...,...,...,...,...,...
393,plymouth horizon miser,4,2125,105.0,63.0,14.7,82,usa
394,amc concord dl,4,3035,151.0,NaN,20.5,82,usa
395,ford granada l,6,2835,232.0,112.0,14.7,82,usa
396,buick century limited,6,2945,181.0,110.0,16.4,82,usa
397,oldsmobile cutlass ciera (diesel),6,3015,262.0,85.0,17.0,82,usa

Split the data into two different segments, such as the train and the test models:
- Training set -> 80% of data
- Test set -> 20% of data

In [20]:
# Make sure to import scikit-learn into the environment
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=100)

Verify the training models

In [21]:
x_train

,name,cylinders,weight,displacement,horsepower,acceleration,model_year,origin
149,amc hornet,6,2774,199.0,97.0,15.5,70,usa
118,toyota corona liftback,4,2711,134.0,90.0,15.5,80,japan
287,dodge d100,8,3755,318.0,150.0,14.0,76,usa
187,plymouth fury iii,8,4096,318.0,150.0,13.0,71,usa
190,pontiac safari (sw),8,5140,400.0,175.0,12.0,71,usa
...,...,...,...,...,...,...,...,...
343,oldsmobile omega brougham,6,2700,173.0,115.0,12.9,79,usa
359,chevrolet citation,4,2678,151.0,90.0,16.5,80,usa
323,chevrolet malibu,6,3155,200.0,95.0,18.2,78,usa
280,pontiac ventura sj,6,3645,250.0,110.0,16.2,76,usa
8,volkswagen model 111,4,1834,97.0,60.0,19.0,71,europe

In [23]:
x_test

,name,cylinders,weight,displacement,horsepower,acceleration,model_year,origin
326,ford fairmont (auto),6,2965,200.0,85.0,15.8,78,usa
54,mercedes benz 300d,5,3530,183.0,77.0,20.1,79,europe
78,toyota corona hardtop,4,2278,113.0,95.0,15.5,72,japan
169,chevrolet monte carlo,8,3761,400.0,150.0,9.5,70,usa
368,plymouth reliant,4,2490,135.0,84.0,15.7,81,usa
...,...,...,...,...,...,...,...,...
266,mercury monarch,6,3432,250.0,72.0,21.0,75,usa
69,vw pickup,4,2130,97.0,52.0,24.6,82,europe
239,ford pinto,4,2451,122.0,80.0,16.5,74,usa
46,volkswagen scirocco,4,1990,89.0,71.0,14.9,78,europe
50,peugeot 604sl,6,3410,163.0,133.0,15.8,78,europe