# Machine Learning Model to Predict MPG!

## Load the data

In [14]:
# import the pandas module for flexible visualization and organization
import pandas as pd

# Highlight the current path to the .xlsx file in the file explorer (Excel Spreadsheet in XML format)
path = r'c:\Users\leone\OneDrive\Desktop\Vito\Work\Excel\Practice\Kaggle\Car Information Dataset\Automobile.xlsx'

# Index of the Data Spreadsheet
data_table: int = 8

# Create a DataFrame
df = pd.read_excel(path, sheet_name=data_table, engine='openpyxl')

In [15]:
# Remove the first field and the Power-to-Weight from the DataFrame
df.drop('Unnamed: 0', axis=1, inplace=True)
df.drop('Power-to-Weight', axis=1, inplace=True)

In [17]:
df

,name,cylinders,mpg,weight,displacement,horsepower,acceleration,model_year,origin
0,bmw 2002,4,26.0,2234,121.0,113.0,12.5,70,europe
1,saab 99e,4,25.0,2375,104.0,95.0,17.5,70,europe
2,audi 100 ls,4,24.0,2430,107.0,90.0,14.5,70,europe
3,peugeot 504,4,25.0,2672,110.0,87.0,17.5,70,europe
4,volkswagen 1131 deluxe sedan,4,26.0,1835,97.0,46.0,20.5,70,europe
...,...,...,...,...,...,...,...,...,...
393,plymouth horizon miser,4,38.0,2125,105.0,63.0,14.7,82,usa
394,amc concord dl,4,23.0,3035,151.0,NaN,20.5,82,usa
395,ford granada l,6,22.0,2835,232.0,112.0,14.7,82,usa
396,buick century limited,6,25.0,2945,181.0,110.0,16.4,82,usa
397,oldsmobile cutlass ciera (diesel),6,38.0,3015,262.0,85.0,17.0,82,usa